<template>
  <div id="bg">
    <el-container style="height:100vh">
      <el-header>
        <div class="Logo">Logo</div>
        <div class="user">
          <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
          <div class="username">{{ sname }}*</div>
          <el-tag size="mini" color="#d9ecff">运营</el-tag>
          <el-dropdown>
            <span class="el-dropdown-link"><i class="el-icon-s-tools"></i></span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </el-header>
      <el-container>
        <!-- ----------------------- -->
        <el-aside style="width: auto;">
          <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
            :collapse="isCollapse" background-color="#001529" text-color="#ccc" router :unique-opened="true">

            <template v-for="item in menus">
              <el-submenu :index="item.id" v-if="item.submenus" :key="item.id">
                <template slot="title">
                  <i :class="item.icon"></i>
                  <span slot="title">{{ item.title }}</span>
                </template>
                <el-menu-item :index="_item.path" v-for="_item in item.submenus" :key="_item.id">{{ _item.title }}
                </el-menu-item>
              </el-submenu>
              <el-menu-item :index="item.path" :key="item.id" v-else>
                <i :class="item.icon"></i>
                <span slot="title">{{ item.title }}</span>
              </el-menu-item>
            </template>

          </el-menu>

          <div class="isCollapses" @click="isCollapses" :style="{ width: !isCollapse ? '220px' : '64px' }">
            <i :class="isCollapse ? 'el-icon-arrow-right':'el-icon-arrow-left'"></i>
          </div>
        </el-aside>
        <!-- ----------------------------- -->
        <el-container>
          <el-main>
            <div class="nav">
              <el-breadcrumb style="margin-right: auto;" separator="/">
                <template v-for="item in breadCrumb">
                  <el-breadcrumb-item v-if="item.meta.title" :key="item.path" v-bind="{
                    [item.name === $route.name ? 'abc' : 'to']: {
                      name: item.name == 'Home' ? 'HomeView' : item.name,
                    },
                  }">{{ item.meta.title }}</el-breadcrumb-item>

                </template>
              </el-breadcrumb>

            </div>
            <div class="main">
              <router-view></router-view>
            </div>
          </el-main>
          <el-footer>
            <div class="text_f">
              <div>最终版权归乐乐所有</div>
              <div>Copyright © 2021-
                2022&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皖ICP备111111111111111111号-1</div>
            </div>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>
<script>
export default {
  name: "Home",
  data() {
    return {
      //获取用户信息到主页
      sname: localStorage.getItem("name"),
      isAuth: "", //是否保持登录状态
      isCollapse: false,
      menus: [
        {
          title: "首页",
          icon: "el-icon-s-home",
          id: "0",
          path: '/HomeView',
        },
        {
          title: "商品",
          icon: "el-icon-s-cooperation",
          id: "1",
          submenus: [
            {
              title: "商品分类",
              id: "1-0",
              path: '/Homemap',
            },
            {
              title: "商品大全",
              id: "1-0",
              path: '/Homemaptou',
            },
          ],
        },
        {
          title: "品类",
          icon: "el-icon-menu",
          id: "2",
          submenus: [
            {
              title: "品类分类",
              id: "2-0",
              path: '/Homeabout',
            },
          ],
        },
        {
          title: "订单",
          icon: "el-icon-s-order",
          id: "3",
          submenus: [
            {
              title: "订单分类",
              id: "3-0",
              path: '/HomeMassage',
            },
          ],
        },
        {
          title: "用户",
          icon: "el-icon-user-solid",
          id: "4",
          submenus: [
            {
              title: "用户分类",
              id: "4-0",
              path: '/Homeage',
            },
          ],
        },
      ],

    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(val) {
        console.log(val.matched);
        this.defaultActive = val.path;
        this.breadCrumb = val.matched;
      },
    },
  },
  methods: {
    //当点击退出按钮，将不保存登录状态
    logout() {
      this.isAuth = "false"; //修改登录状态
      localStorage.setItem("s", this.isAuth);
      this.$router.replace("/login"); //页面跳转至登录页面
      this.$message({
        message: "账号已退出，请重新输入！",
        type: "warning",
      });
    },
    //侧边栏
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    isCollapses() {
      this.isCollapse = !this.isCollapse
    },

  },
};
</script>
  
<!-- //css -->
<style scoped lang="scss">
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.el-icon-arrow-down {
  font-size: 12px;
}

.el-header {
  font-weight: 500;
  line-height: 60px;
  position: relative;
}

.el-header,
.el-footer {
  background-color: #fff;
  font-weight: 500;
  text-align: center;
  // line-height: 60px;
  border-left: 1px solid #C4C4C4;
  ;
}

.el-footer {
  height: 60px !important;
}

.el-aside {
  background: #001529;
  // color: #333;
  overflow-x: hidden;
  border-top: 1px solid #C4C4C4;
}

.el-main {
  background-color: rgb(233 238 245);
  color: #333;
  text-align: center;
  line-height: 160px;
  padding: 0;
}


.Logo {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  left: 80px;
  position: absolute;
  color: #000;
}

.el-menu-item {
  height: 50px !important;
}

.user {
  width: 300px;
  height: 100%;
  // border: 1px solid;
  position: absolute;
  right: 20px;
  display: flex;

  .el-avatar {
    // display: inline-block;
    margin: 10px 14px;
  }

  .username {
    display: inline-block;
    margin-bottom: 0;
  }

  .el-tag {
    margin: 20px 14px;
  }

  i {
    display: inline-block;
    margin: 18px 40px;
    font-size: 25px;
  }
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 220px;
  min-height: 400px;
}

//设置鼠标悬停时el-submenu的样式
.el-submenu .el-submenu__title:hover {
  border-left: #33A2EF solid 6px !important;
  background-color: #E2EFF9 !important;
  color: #fff !important;


  i {
    color: #fff;
    transition: all 0.2s;
  }

  span {
    transition: all 0.2s;
    color: #fff;
  }
}

.el-menu-item.is-active {
  background-color: #1890ff !important;
  color: #fff !important;
}

.isCollapses {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 60px;
  background: #002140;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav {
  width: 100%;
  height: 49px;
  margin: 2px 0;

  background: #fff;
  text-align: left;

  .el-breadcrumb {
    display: block;
    width: 90%;
    // height: 100%;
    line-height: 50px;
    margin-left: 20px;

  }

}

.main {
  padding: 20px;
}

.text_f {
  margin: 17px auto;
  font-size: 12px;
  width: 385px;
  text-align: center;
  color: rgba(168, 171, 179, 1);

  >div:nth-child(1) {}

  line-height:0;

  >div:nth-child(2) {
    line-height: 40px;
  }
}
</style>