<template>
  <div id="background">
    <div class="container">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <h1>Login</h1>
        <el-form-item label="" prop="name">
          <el-input prefix-icon="el-icon-user" type="text" name="username" v-model="ruleForm.name" clearable
            placeholder="请输入用户名">
          </el-input>
        </el-form-item>

        <el-form-item label="" prop="password">
          <el-input prefix-icon="el-icon-lock" type="password" name="password" clearable v-model="ruleForm.password"
            show-password @keyup.enter.native="submitForm('formName')" placeholder="请输入密码"></el-input>
        </el-form-item>
        <div class="flex">
          <el-checkbox class="checkbox" v-model="checked">记住密码</el-checkbox>
          <el-link class="link" type="primary" @click.prevent="handleregister">没有账号？点我注册</el-link>
        </div>

        <el-button type="primary" @click.prevent="submitForm('ruleForm')">登录</el-button>
      </el-form>

      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      ruleForm: {
        name: localStorage["name"], //姓名，用v-model绑定监听，将输入的字符串赋值给name变量
        password: localStorage["password"], //密码
      },
      rules: {
        name: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 3, max: 8, message: "长度在 3 到 5 个字符", trigger: "blur" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 5, max: 12, message: "长度在 5 到 12个字符", trigger: "blur" },
        ],
      },
      checked: true,
      st: "true", //false为不保存登录
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (
            this.ruleForm.name === localStorage["name"] &&
            this.ruleForm.password === localStorage["password"]
          ) {
            this.$message({
              message: "欢迎回来",
              type: "success",
            });
            this.$router.replace("/Home"); //如果输入的名字以及密码正确路由跳转至个人页面
            localStorage.setItem("s", this.st);
          } else {
            if (this.ruleForm.name != localStorage["name"]) {
              this.$message.error("用户不存在");
            } else {
              this.$message.error("账号或密码有误！");
              return false;
            }
          }
        } else {
          this.$message.error("请输入账号");
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleregister() {
      this.$router.replace("/register"); //点击注册按钮，跳转至注册页面
    },
  },
};
</script>
  
<style scoped lang="less">
#background {
  width: 100%;
  height: 100%;
  /* background: url("../assets/bg2.jpg"); */
  background-size: 100% 100%;
  background: -webkit-radial-gradient(0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%),
    linear-gradient(to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 480px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff0d;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px;
  margin-top: -50px;
}

.container h1 {
  color: #409eff;
}

.checkbox {
  position: absolute;
  left: 55px;
  top: 0;
}

.el-form-item {
  margin: 22px 55px;
}

.link {
  position: absolute;
  right: 55px;
  top: 0;
}

.el-button {
  padding: 12px 170px;
}

.el-input__inner {
  background-color: #fff0;
}

.flex {
  height: 40px;
  position: relative;
  margin-top: 0;
}

// 改变input里的字体颜色
/deep/input::-webkit-input-placeholder {
  color: #e8e6e6cc;
  font-size: 15px;
}

// 改变input框背景颜色
/deep/.el-input__inner {
  color: #e8e6e680;
  background-color: transparent !important;
  border: 1px solid #ffffffde;
}
</style>
  