<template>
  <div id="background">
    <div id="contain">
      <h1>Register</h1>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="name" class="item">
          <el-input prefix-icon="el-icon-user" type="text" name="username" v-model="ruleForm.name" placeholder="请输入用户名">
          </el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" class="item">
          <el-input prefix-icon="el-icon-lock" type="password" name="password" show-password v-model="ruleForm.password"
            placeholder="请输入密码">
          </el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="passwords" class="item">
          <el-input prefix-icon="el-icon-lock" type="password" name="passwords" show-password
            v-model="ruleForm.passwords" placeholder="请确认密码"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email" class="item">
          <el-input prefix-icon="el-icon-message" type="text" name="email" v-model="ruleForm.email"
            placeholder="请输入您的邮箱"></el-input>
        </el-form-item>
        <el-form-item label="验证码：" prop="code" class="item">
          <el-col :span="14">
            <el-input prefix-icon="el-icon-key" id="code" type="text" name="code" placeholder="请输入您的验证码" v-model="code">
            </el-input>
          </el-col>
          <div class="login-code" @click="refreshCode">
            <!--验证码组件-->
            <s-identify :identifyCode="identifyCode"></s-identify>
          </div>
        </el-form-item>

        <el-link class="link" type="primary" @click.prevent="handleregister">返回登陆</el-link>
        <el-button type="primary" @click.prevent="submitForm('ruleForm')">注册</el-button>
        <el-button type="info" plain @click="resetForm('ruleForm')">重置</el-button>
        <div class="size ss">点击"注册"即表示您同意并遵守简书</div>
        <div class="size">
          <el-link href="https://homewh.chaoxing.com/agree/userAgreement?appId=900001" type="primary">用户协议</el-link>和
          <el-link href="https://sso.unipus.cn/sso/agreements/privacy-20211123.html" type="primary">隐私政策</el-link>
        </div>
      </el-form>
    </div>
  </div>
</template>
<script>
import SIdentify from "@/components/sidentify.vue";
export default {
  name: "register",
  props: {
    msg: String,
  },
  components: { SIdentify },
  data() {
    return {
      identifyCodes: "1234567890",
      identifyCode: "",
      code: "", //text框输入的验证码

      ruleForm: {
        name: "",
        password: "",
        passwords: "",
        mail: "",
      },
      rules: {
        name: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 3, max: 8, message: "长度在 3 到 8 个字符", trigger: "blur" },
        ],
        password: [
          {
            required: true,
            message: "请输入 6-20 位英文字母、数字或者符号（除空格）",
            trigger: "blur",
          },
          { min: 5, max: 12, message: "长度在 5 到 12个字符", trigger: "blur" },
        ],
        passwords: [
          { required: true, message: "请确认密码", trigger: "blur" },
          { min: 5, max: 12, message: "长度在 5 到 12个字符", trigger: "blur" },
        ],
        email: [
          { required: true, message: "请输入邮箱", trigger: "blur" },
          {
            pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/,
            message: "请输入正确邮箱",
          },
        ],
        code: [
          { required: true, message: "请输入验证码", trigger: "blur" },
          { min: 1, max: 4, message: "长度不符合", trigger: "blur" }
        ],
      },
    };
  },
  methods: {
    //点击完成按钮触发handlefinish
    submitForm(formName) {
      if (this.ruleForm.name == "") {
        this.$message.error("请输入账号");
      } else {
        if (localStorage["name"] === this.ruleForm.name) {
          this.$message.error("用户名已存在"); //如果用户名已存在则无法注册
        } else if (this.ruleForm.passwords != this.ruleForm.password) {
          this.$message.error("两次密码不一致");
        } else if (this.code == "" || this.identifyCode !== this.code) {
          this.code = '';
          this.refreshCode();
          this.$message.error("请输入正确的验证码");
          return;
        } else {
          //将新用户信息存储到localStorage
          localStorage.setItem("name", this.ruleForm.name);
          localStorage.setItem("password", this.ruleForm.password);
          localStorage.setItem("mail", this.ruleForm.mail);
          localStorage.setItem("s", "false");
          this.$message({
            message: "注册成功",
            type: "success",
          });
          this.$router.replace("/Login"); //完成注册后跳转至登录页面
        }
      }
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleregister() {
      this.$router.replace("/Login");
    },

    //验证码
    randomNum(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    },

    refreshCode() {
      this.identifyCode = "";
      this.makeCode(this.identifyCodes, 4);
    },
    makeCode(o, l) {
      for (let i = 0; i < l; i++) {
        this.identifyCode +=
          this.identifyCodes[this.randomNum(0, this.identifyCodes.length)];
      }
      console.log(this.identifyCode);
    },
  },
  mounted() {
    this.identifyCode = "";
    this.makeCode(this.identifyCodes, 4);
  },
  created() {
    this.refreshCode();
  },
};
</script>
  
<!-- //css -->
<style scoped lang="less">
#background {
  width: 100%;
  height: 100%;
  /* background: url("../assets/bg2.jpg"); */
  background-size: 100% 100%;
  background: -webkit-radial-gradient(0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%),
    linear-gradient(to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  position: fixed;
  top: 0;
  left: 0;
}

#contain {
  width: 480px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff0d;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px;
  margin-top: -50px;
}

#contain h1 {
  color: #409eff;
}

.el-form-item {
  margin: 30px 34px;
}

.link {
  /* display: inline-block; */
  position: absolute;
  right: 37px;
  bottom: 130px;
}

/deep/.item .el-form-item__label {
  color: #fff !important;
}

.el-button {
  padding: 12px 45px;
}

/*验证码样式*/
.code {}

.login-code {
  cursor: pointer;
}

.size {
  display: block;
  font-size: 13px;
  color: #ccccccbf;
}

.ss {
  margin-top: 5px;
}

// 改变input里的字体颜色
/deep/input::-webkit-input-placeholder {
  color: #e8e6e6cc;
  font-size: 15px;
}

// 改变input框背景颜色
/deep/.el-input__inner {
  color: #e8e6e6cc;
  background-color: transparent !important;
  border: 1px solid #ffffffde;
}
</style>
